<h1>{{username}}</h1>
{{#if isMyProfile}}
<h2>This is your profile!</h2>
{{/if}}
<p>{{bio}}</p>
    <h3>Loves</h3>
<div class="canBox">
    {{#each Love}}
        <img src="{{pic}}" alt="{{name}} can of la croix">
    {{/each}}
</div>
    <h3>Hates</h3>
<div class="canBox">
    {{#each Hate}}
        <img src="{{pic}}" alt="{{name}} can of la croix">
    {{/each}}
</div>